body {
  margin: 0;
  padding: 0;
  font-family: 'brandon';
}


@font-face {
  font-family: 'goudy';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/goudy.otf") format("opentype");
}

@font-face {
  font-family: 'brandon';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Brandon_reg.otf") format("opentype");
}

@font-face {
  font-family: 'brandon';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Brandon_med.otf") format("opentype");
}

@font-face {
  font-family: 'brandon';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Brandon_bld.otf") format("opentype");
}
